@import "normalize";
@import "common/bootstrap-grid";
@import "common/common";
@import "font-icon";
@import "font";

body{
  font-family: 'Coconut Cookies', sans-serif;
}
.App{
  position: relative;
}

$main_header: 65px;
$main_sidebar: 160px;

.main__router{
  padding-top: $main_header;
  padding-left: $main_sidebar;
  @media all and (max-width: 767px){
    padding-left: 15px;
    padding-right: 15px;
  }
}

.chapters__list{
  .carousel{
    width: 100%;
  }
}