.chapter{
  border-radius: 30px;
  border: 6px solid #C15624;
  width: 291px;
  height: 394px;
  position: relative;
  //overflow: hidden;
  padding: 20px 20px 60px 20px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  @media all and (max-width: 419px){
    width: 100%;
  }
  @media all and (min-width: 992px) and (max-width: 1199px){
    width: 100%;
  }
  *{
    z-index: 3;
    position: relative;
  }
  &:before{
    content: "";
    display: block;
    background: rgba(255,255,255, 0.4);
    z-index: 2;
    top: 0;
    left: 0;
    width: calc(100%);
    height: calc(100%);
    position: absolute;
    pointer-events: none;
    border-radius: 30px;
  }
  &__inner{
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
  }
  &--1{
    background-image: url("../assets/images/chapter/chapter-1.jpg");
  }
  &--2{
    background-image: url("../assets/images/chapter/chapter-2.jpg");
  }
  &--3{
    background-image: url("../assets/images/chapter/chapter-3.jpg");
  }

  &__status{
    position: absolute;
    bottom: -80px;
    color: #fff;
    &.chapter__completed{
      background: #219653;
      border-radius: 40px;
      padding: 10px 40px;
      left: calc(50% - 70px)
    }
    &.chapter__play,
    &.chapter__lock{
      width: 184px;
      height: 65.47px;
      background-image: url("../assets/images/btn-square-spl.svg");
      background-size: contain;
      background-repeat: no-repeat;
      padding: 20px 40px;
      text-align: center;
      left: calc(50% - 92px)
    }
  }
  &__details{
    border-radius: 10px;
    border: 3px solid #692F0E;
    width: 205px;
    height: 107px;
    text-align: center;
    padding: 15px;
    background: #FFF2CF;
    &__questions{
      margin-top: 0;
    }
    &__info{
      .info__title{
        margin-bottom: 5px;
      }
    }
  }
  &__intro{
    text-align: center;
  }
  &__navigation{
    display: flex;
    justify-content: center;
    button{
      border: none;
      background: none;
      appearance: none;
    }
  }
}