header.header{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: center;
  align-content: center;
  padding: 15px 25px;
  z-index: 4;
}
.header{
  &__menu{
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-right: 25px;
    li{
      & + li {
        margin-left: 25px;
      }
    }
    @media all and (max-width: 767px){
      .icon__content{
        .icon{
          display: none;
        }
      }
      .point{
        .label,.divider{
          display: none;
        }
      }
    }
    margin-right: 15px;
    li + li {
      margin-left: 10px;
    }
  }
}
.header__right{
  display: flex;
  align-items: center;
}
.header__profile{
  width: 120px;
  display: flex;
  justify-content: center;
  @media all and (max-width: 767px){
    width: auto;
    justify-content: flex-start;
  }
}

.header__left{
  @media all and (max-width: 767px){
    .user__profile{
      width: 54px;
      height: 54px;
      display: block;
      padding: 10px;
      img{
        max-width: 100%;
      }
    }
  }
}